@tailwind base;
@tailwind components;
@tailwind utilities;

#logo_text {
    background: -webkit-linear-gradient(left, #0ebc4b, #33f603, #01ac01);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* tags */
li *{
    overflow: hidden;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide{
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Preloader */
.preloader {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999999999999999999;
    height: 100%;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
/* Dark theme */
.dark .preloader {
    --tw-bg-opacity: 1;
    background-color: #2d3748;
}

.preloader .icon {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.preloader .icon img {
    position: absolute;
}

@keyframes bomb {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.preloader .icon img {
    animation: bomb 1s infinite linear;
}

.category-card:hover {
    text-decoration: underline;
}

.category-card > a {
    background-image: linear-gradient(to bottom, rgba(52, 52, 52, 0.946), rgba(243, 243, 243, 0), rgba(172, 172, 172, 0));
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
