@tailwind base;
@tailwind components;
@tailwind utilities;


/* tags */
li *{
    overflow: hidden;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide{
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Preloader */
.preloader {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999999999999999999;
    height: 100%;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
/* Dark theme */
.dark .preloader {
    --tw-bg-opacity: 1;
    background-color: #2d3748;
}

.preloader .icon {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.preloader .icon img {
    position: absolute;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.preloader .icon img {
    animation: rotate360 2s infinite linear;
}

.category-card:hover {
    text-decoration: underline;
}

.category-card > a {
    background-image: linear-gradient(to bottom, rgba(52, 52, 52, 0.946), rgba(243, 243, 243, 0), rgba(172, 172, 172, 0));
}

.categories-header{
   
}
