.sellerRequests {
    border-left-width: 2px;
    --tw-bg-opacity: 1;
    background-color: rgb(188 240 218 / var(--tw-bg-opacity));
}

.sellerRequests svg {
    fill: black;
}

:is(.dark .sellerRequests svg) {
    fill: white
}

:is(.dark .sellerRequests) {
    background-color: rgb(1 71 55 / var(--tw-bg-opacity));
}
